<div class="{{classPrefix}} {{classPrefix}}-{{level}}">
  {{#if close}}
    <span data-role="close" class="close">×</span>
  {{/if}}
  {{#if icon}}
    <span class="iconfont iconfont-{{icon}}"></span>
  {{/if}}
  {{#if msg}}
    {{#with msg}}
      {{#if brief}}
        <div class="brief">
          {{{brief}}}
          {{#if detail}}
            <a data-role="toggle" class="toggle" href="javascript:;">{{__ '详情'}}</a>
            <pre data-role="detail" class="detail">{{detail}}</pre>
          {{/if}}
        </div>
      {{/if}}
    {{/with}}
  {{/if}}
</div>
